<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>First page</title>
    <link href="/content/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/my_page.js"></script>
</head>
<script>
    window.onload = function () {
        updateBodyMass(document.getElementById("heightP").innerText, document.getElementById("weightP").innerText);
    }
</script>
<body>
<div th:insert="header.html :: header-fragment"></div>
<br>
<br>
<div class="main">
    <br>
    <div class="containerTest">
        <div class="row">
            <h1 id="nameH" th:text="${client.getSurname()} + ' ' + ${client.getName()}"></h1>
            <div class="contentText">
                <input id="surnameI" type="text" style="display:none">
                <input id="nameI" type="text" style="display: none">
                <img class="round_small" src="http://download.seaicons.com/icons/dtafalonso/android-l/512/Settings-L-icon.png"
                     alt="Редактировать"
                     onclick="editor()">
                <h2> Рост </h2>
                <p id="heightP" th:text="${client.getHeight()}"> см </p>
                <input id="heightI" type="text" style="display: none">
                <h2> Вес </h2>
                <p id="weightP" th:text="${client.getWeight()}"> кг </p>
                <input id="weightI" type="text" style="display: none">
                <h2> Индекс массы тела</h2>
                <p id="bodyMass"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>