<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/content/style.css" rel="stylesheet">
    <script type="text/javascript" src="/scripts/catalog.js"></script>
    <title>Disease</title>
</head>
<body>
<div th:insert="header.html :: header-fragment"></div>
<div class="main">
    <br><br>
    <div class="containerTest">
        <div class="row">
            <div style="padding: 15px">
                <h2 th:text="${disease.name}"></h2>
                <p th:text="${disease.info}"></p>
            </div>
        </div>
        <div style="display: flex">
            <div class="row" style="min-width: 49%">
                <div style="text-align: center;"><h2>Симптомы</h2></div>
                <div style="padding: 15px">
                    <div th:each="item:${disease.symptomWithRateList}"
                         th:onclick="'swapVisibility(\'s'+ ${item.symptomId} +'\')'">
                        <a th:href="'/symptom/'+${item.symptomId}" th:text="${item.name}"
                           style="text-decoration: none; color: #4443fc"></a>
                        <span th:text="' - '+ ${item.rate}"></span>
                        <span th:id="'s'+${item.symptomId}" th:text="${item.info}" style="display: none"></span>
                    </div></div>
            </div>
            <div class="rowT" style="min-width: 2%"></div>
            <div class="row" style="min-width: 49%">
                <div style="text-align: center;"><h2>Лекарства</h2></div>
                <div style="padding: 15px">
                    <div th:each="item:${disease.medicamentWithRateList}"
                         th:onclick="'swapVisibility(\'m'+${item.medicamentId}+'\')'">
                    <span th:href="'/medicament/'+${item.medicamentId}" th:text="${item.name}"
                          style="text-decoration: none; color: #4443fc"></span>
                        <span th:text="' - '+ ${item.rate}"></span>
                        <span th:id="'m'+${item.medicamentId}" th:text="${item.info}" style="display: none"></span>
                    </div></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>