<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/content/style.css" rel="stylesheet">
    <script type="text/javascript" src="scripts/catalog.js"></script>
    <title>Title</title>
</head>
<body>
<div th:insert="header.html :: header-fragment"></div>
<div class="main">
    <br><br><br>
    <div class="containerTest">
        <div class="rowText">
            <div th:each="item:${diseaseList}" th:id="${item.diseaseId}" onclick="swapVisibility('i'+this.id)">
                Название:
                <a th:text="${item.diseaseName}" th:href="'/disease/'+${item.diseaseId}"
                   style="text-decoration: none; color: #4443fc"></a>
                <p th:text="'Описание: '+${item.diseaseInfo}"></p>
                <div th:id="'i'+${item.diseaseId} " style="display: none">
                    <p th:if="${!item.symptomList.isEmpty()}">Симптомы: </p>
                    <a th:each="symptom:${item.symptomList}" th:text="${symptom.name} + '; '"
                       th:href="'/symptom/'+${symptom.symptomId}" style="text-decoration: none; color: #4443fc"></a>
                    <p th:if="${!item.medicamentList.isEmpty()}">Медикаменты: </p>
                    <a th:each="medicament:${item.medicamentList}" th:text="${medicament.name} + '; '"
                       th:href="'/medicament/'+${medicament.medicamentId}"
                       style="text-decoration: none; color: #4443fc"></a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>